
<div class='top-row'>
  <div>
    <div class="template"
          data-controller='template'
          data-template-url-value="<%= summary_dashboard_path %>"
          data-template-coin-value=""
          data-template-wallet-value=""
          data-action="update-quantity@window->template#reload update-data@window->template#reload">
      <div data-template-target="template">
        <%= render 'summary' %>
      </div>
    </div>
    <%= render 'actions' %>
  </div>
  <%= render 'components/calculator' %>
</div>  

<%= render 'trade_form' %>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tableau-tab" data-bs-toggle="tab" data-bs-target="#tableau" type="button" role="tab" aria-controls="tableau" aria-selected="false">Tableau</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="graph-tab" data-bs-toggle="tab" data-bs-target="#graph" type="button" role="tab" aria-controls="graph" aria-selected="true">Graphique</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="tableau" role="tabpanel" aria-labelledby="tableau-tab">
  <%= render 'dashboard/table/table_content' %>
</div>
<div class="tab-pane fade" id="graph" role="tabpanel" aria-labelledby="graph-tab">
  <div id="pie-chart" data-controller='chart'
                    data-chart-url-value="<%= chart_data_dashboard_path %>">
    <div class="text-center spinner-container">
      <div class="spinner-border text-secondary" role="status" id='graph-spinner'>
        <span class="visually-hidden"><%= t 'app.events.loading' %></span>
      </div>
    </div>
    <canvas id="wallet-pie" width="400" height="400">
    </canvas>
  </div>
</div>