
  <table class='table table-bordered  table-sm'>
    <thead>
      <tr>
        <th scope='col'>
          <%= render 'toggle_visible_coins' %>
        </th>
        <th scope='col' data-bs-toggle="tooltip" data-bs-placement="top" title="USD">Cours</th>
        <th scope='col' data-bs-toggle="tooltip" data-bs-placement="top" title="USD">Prix de réf.</th>
        <th scope='col'><%= t '.delta' %></th>
        <% @wallets.each do |wallet| %>
          <th scope='col'><%= wallet.name %></th>
        <% end %>
        <th scope='col'>Total (token)</th>
        <th scope='col'>Total (USD)</th>
        <th scope='col'>Total (EUR)</th>
        <th scope='col'>Total (BTC)</th>
      </tr>
    </thead>
    <tbody>
      <% @coins.each do |coin| %>
        <tr>
          <th scope='row' data-bs-toggle="tooltip" data-bs-placement="right" title="<%= coin.name %>" ><%= coin.code.upcase %></th>
          <td scope='row' class='text-end'
              data-controller="dynamic-value" 
              data-dynamic-value-url-value="<%= market_value_usd_coin_path(coin) %>"
              data-action="update-data@window->dynamic_value#load"
              >
              <%= number_with_precision coin.market_value_usd, precision: 4 %>
          </td>
          <td scope='row' class='text-end'><%= number_with_precision coin.reference_price, precision: 4 %></td>
          <td scope='row' data-controller="template" 
              data-template-url-value="<%= variation_from_reference_coin_path(coin) %>"
              data-action="update-data@window->template#load"
              >
              <div class='text-end' data-template-target="template">
                <%= variation_from_reference(coin) %>
              </div>
          </td>
          <% @wallets.each do |wallet| %>
            <%= render 'cell_form', coin: coin, wallet: wallet %>
          <% end %>
          <%= render 'coin_total', coin_id: coin.id, currency: nil  %>
          <%= render 'coin_total', coin_id: coin.id, currency: 'usd'  %>
          <%= render 'coin_total', coin_id: coin.id, currency: 'eur'  %>
          <%= render 'coin_total', coin_id: coin.id, currency: 'btc'  %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th scope='row'>Total (USD) </th>
        <td></td>
        <td></td>
        <th scope='row'></th>
        <% @wallets.each do |wallet| %>
          <%= render 'wallet_total', wallet_id: wallet.id, currency: 'usd'  %>
        <% end %>
        <td></td>
        <%= render 'main_total', currency: 'usd' %>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope='row'>Total (EUR) </th>
        <td></td>
        <td></td>
        <th scope='row'></th>
        <% @wallets.each do |wallet| %>
          <%= render 'wallet_total', wallet_id: wallet.id, currency: 'eur'  %>
        <% end %>
        <td></td>
        <td></td>
        <%= render 'main_total', currency: 'eur' %>
        <td></td>
      </tr>
      <tr>
        <th scope='row'>Total (BTC) </th>
        <td></td>
        <td></td>
        <th scope='row'></th>
        <% @wallets.each do |wallet| %>
          <%= render 'wallet_total', wallet_id: wallet.id, currency: 'btc'  %>
        <% end %>
        <td></td>
        <td></td>
        <td></td>
        <%= render 'main_total', currency: 'btc' %>
      </tr>
    </tfoot>
  </table>