<div class='home'>
  <h1>Synthèse</h1>

  <div >
    <div>Investissement : <%= number_with_precision(@config.investment_eur, precision: 2) %> EUR </div>
    <div>Valeur actuelle : <%= number_with_precision(@total_value, precision: 2) %> EUR </div>
    <div>Variation : <%= total_variation %> </div>
  </div>

  <div class='buttons'>
    <%= button_tag "Mettre à jour la liste des Cryptos", 
                   class:"btn btn-outline-secondary btn-sm",
                   data: {controller: 'api',
                          'api-url-value' => list_api_index_path,
                          'action': 'click->api#load' } %>
    <%= button_tag "Mettre à jour les prix", 
                   class:"btn btn-outline-secondary btn-sm",
                   data: {controller: 'api',
                          'api-url-value' => prices_api_index_path,
                          'action': 'click->api#load' } %>
  </div>

  <%= render 'table' %>

  <div id="pie-chart" data-controller='chart' data-chart=''
                      data-chart-url-value="<%= chart_data_dashboard_path %>">
    <canvas id="wallet-pie" width="400" height="400"></canvas>
  </div>
</div>