<h1>Synthèse</h1>

<table>
    <thead>
        <tr>
            <th></th>
            <% @wallets.each do |wallet| %>
                <th><%= wallet.name %></th>
            <% end %>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <% @coins.each do |coin| %>
            <tr>
                <td><%= coin.display_name %></td>
                <% @wallets.each do |wallet| %>
                    <%= render 'cell_form', coin: coin, wallet: wallet %>
                <% end %>
                <%= render 'coin_total', coin_id: coin.id  %>
            </tr>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <td>Total (USD) </td>
            <% @wallets.each do |wallet| %>
                <%= render 'wallet_total', wallet_id: wallet.id, currency: 'usd'  %>
            <% end %>
            <td>
                <%= render 'main_total', currency: 'usd' %>
            </td>
        </tr>
        <tr>
            <td>Total (EUR) </td>
            <% @wallets.each do |wallet| %>
                <%= render 'wallet_total', wallet_id: wallet.id, currency: 'eur'  %>
            <% end %>
            <td>
                <%= render 'main_total', currency: 'eur' %>
            </td>
        </tr>
        <tr>
            <td>Total (BTC) </td>
            <% @wallets.each do |wallet| %>
                <%= render 'wallet_total', wallet_id: wallet.id, currency: 'btc'  %>
            <% end %>
            <td>
                <%= render 'main_total', currency: 'btc' %>
            </td>
        </tr>
    </tfoot>
</table>