<tfoot>

  <% if current_user.display_main %>
    <tr>
      <th scope='row'>Total (<%= @main_currency.upcase %>) </th>
      <td></td>
      <td></td>
      <% if current_user.display_secondary %>
        <th scope='row'></th>
      <% end %>
      <% @wallets.each do |wallet| %>
        <%= render 'wallet_total', wallet_id: wallet.id, currency: @main_currency  %>
      <% end %>
      <td></td>
      <% if current_user.display_main %>
       <%= render 'main_total', currency:  @main_currency %>
      <% end %>
      <td></td>
      <% if current_user.display_tertiary %>
        <td></td>
      <% end %>
    </tr>
  <% end %>

  <% if current_user.display_secondary %>
    <tr>
      <th scope='row'>Total (<%= @secondary_currency.upcase %>) </th>
      <td></td>
      <td></td>
      <th scope='row'></th>
      <% @wallets.each do |wallet| %>
        <%= render 'wallet_total', wallet_id: wallet.id, currency: @secondary_currency  %>
      <% end %>
      <td></td>
      <% if current_user.display_main %>
        <td></td>
      <% end %>
      <% if current_user.display_secondary %>
        <%= render 'main_total', currency: @secondary_currency %>
      <% end %>
      <% if current_user.display_tertiary %>
        <td></td>
      <% end %>
    </tr>
  <% end %>

  <% if current_user.display_tertiary %>
    <tr>
      <th scope='row'>Total (<%= @tertiary_currency.upcase %>) </th>
      <td></td>
      <td></td>
      <th scope='row'></th>
      <% @wallets.each do |wallet| %>
        <%= render 'wallet_total', wallet_id: wallet.id, currency: @tertiary_currency  %>
      <% end %>
      <td></td>
      <% if current_user.display_secondary %>
        <td></td>
      <% end %>
      <% if current_user.display_main %>
        <td></td>
      <% end %>
      <%= render 'main_total',   currency: @tertiary_currency %>
    </tr>
  <% end %>
</tfoot>