<h1><%= t '.title' %></h1>


<%= form_for @config, url: config_path, method: :put do |form| %>
  <div class="mb-3">
    <%= form.label :investment_eur, class: "form-label" %>
    <%= form.text_field :investment_eur, required: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :precision, class: "form-label" %>
    <%= form.number_field :precision, required: true, class: "form-control" %>
  </div>

  <%= form.submit t('app.actions.update'), class: "btn btn-primary" %>
<% end %>