<%= form_for @wallet, url: url, method: method do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, required: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
    <div class='field-warning'><%= t('.warning') %></div>
  </div>
  <%= form.submit action, class: "btn btn-info" %>
<% end %>