<h1>New wallet</h1>

<%= form_for Wallet.new, url: wallets_path, method: :create do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= form.submit "Create" %>
<% end %>