<h1>Historique</h1>

<table class='table  table-sm'>
  <thead>
    <tr>
      <th scope='col'>Date</th>
      <th scope='col'>Valeur du portefeuille (USD)</th>
      <th scope='col'>Valeur du portefeuille (EUR)</th>
      <th scope='col'>Valeur du portefeuille (BTC)</th>
      <th scope='col'>Investissement cumulé</th>
      <th scope='col'>Token détenus</th>
    </tr>
  </thead>
  <tbody>
    <% @snapshots.each do |snapshot| %>
      <tr>
        <td><%= snapshot.created_at %></td>
        <td><%= number_with_precision snapshot.total_usd_value, precision: 2 %></td>
        <td><%= number_with_precision snapshot.total_eur_value, precision: 2 %></td>
        <td><%= number_with_precision snapshot.total_btc_value, precision: 2 %></td>
        <td><%= number_with_precision snapshot.investment_eur, precision: 2 %></td>
        <td><%= snapshot.display_coins %></td>
      </tr>
    <% end %>
  </tbody>
</table>