<%= form_for  [@coin, transaction], method: method do |form| %>
  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>
    <div class="mb-3">
    <%= form.label :order_type, class: "form-label" %>
    <%= form.select :order_type, %w[sell buy], {}, class: "form-select" %>
  </div>
  <div class="mb-3">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.text_field :quantity, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :price_usd, class: "form-label" %>
    <%= form.text_field :price_usd, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :cex_identifier, class: "form-label" %>
    <%= form.text_field :cex_identifier, class: "form-control" %>
  </div>
  <%= form.submit "Create", class: "btn btn-primary" %>
<% end %>