<div class='row'>
  <div class="col required field">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control form-control-sm", data: {'transaction-form-target'=>'firstField' } %>
  </div>
  <% unless @coin.present? %>
    <div class="col required field">
      <%= form.label :coin_id, class: "form-label" %>
      <%= form.collection_select :coin_id, current_user.coins.all, :id, :code, {}, class: "form-select form-select-sm" %>
    </div>
  <% end %>
  <div class="col required field">
    <%= form.label :order_type, class: "form-label" %>
    <%= form.select :order_type, order_type_select, {}, class: "form-select form-select-sm" %>
  </div>
  <div class="col required field">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.text_field :quantity, class: "form-control form-control-sm" %>
  </div>
  <div class="col required field">
    <%= form.label :price_reference_currency, class: "form-label" %>
    <%= form.text_field :price_reference_currency, class: "form-control form-control-sm" %>
  </div>
  <div class="col required field">
    <%= form.label :reference_currency, class: "form-label" %>
    <%= form.select :reference_currency, display_currencies, {}, class: "form-select form-select-sm" %>
  </div>
  <div class="col">
    <%= form.label :cex_identifier, class: "form-label" %>
    <%= form.text_field :cex_identifier, class: "form-control form-control-sm" %>
  </div>
  <div class="col">
    <%= button_tag t('.create'), class: "btn btn-primary", data: {action: "transaction-form#create"} %>
  </div>
</div>