<h1><%= @coin.display_name %> - Transactions</h1>

<%= link_to t('.new_transaction'), new_coin_transaction_path(@coin), class: 'btn btn-info'  %>

<% investment_currency = current_user.investment_currency.upcase %>

<section class='summary'>
  <ul>
    <li>
      <%= t('.total_investment', currency: investment_currency) %>
    </li>
    <li>
      <%= t('.average_buy_price', currency: investment_currency) %>
    </li>
    <li>
      <%= t('.total_sold', currency: investment_currency) %>
    </li>
    <li>
      <%= t('.average_sell_price', currency: investment_currency) %>
    </li>
    <li>
      <%= t('.value_in_wallet', currency: investment_currency) %>
      </li>
    <li>
      <%= t('.net_result', currency: investment_currency) %>
    </li>
  </ul>
</section>

<div data-controller='transaction-form'>
  <div data-transaction-form-target='formWrapper'>
    <%= render 'inline_form', transaction: Transaction.new(reference_currency: 'usd', date: Date.current), method: :create %>
  </div>
  <% if @transactions.present? %>
    <table class='table table-sm'>
      <thead>
        <tr>
          <th scope='col'><%= Transaction.human_attribute_name(:date) %></th>
          <th scope='col'><%= Transaction.human_attribute_name(:order_type) %></th>
          <th scope='col'><%= Transaction.human_attribute_name(:quantity) %></th>
          <th scope='col'><%= Transaction.human_attribute_name(:price_reference_currency) %></th>
          <th scope='col'><%= Transaction.human_attribute_name(:reference_currency) %></th>
          <th scope='col'></th>
        </tr>
      </thead>
      <tbody data-transaction-form-target='indexBody'>
        <% @transactions.each do |transaction| %>
          <%= render 'transaction_row', transaction: transaction %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>