<nav>
  <div class='item'>
    <%= link_to 'Synthèse', root_path %>
  </div>
  <div class='item'>
    <%= link_to 'Wallets', wallets_path %>
  </div>
  <div class='item'>
    <%= link_to 'Tokens', coins_path %>
  </div>
  <div class='item'>
    <%= link_to 'Config', config_path %>
  </div>
  <div class='item'>
    <%= link_to 'Historique', snapshots_path %>
  </div>
  
</nav>