<nav>
  <div class='item'>
    <%= link_to t('nav.home'), root_path %>
  </div>
  <div class='item'>
    <%= link_to t('nav.wallets'), wallets_path %>
  </div>
  <div class='item'>
    <%= link_to t('nav.coins'), coins_path %>
  </div>
  <div class='item'>
    <%= link_to t('nav.config'), config_path %>
  </div>
  <div class='item'>
    <%= link_to t('nav.snapshots'), snapshots_path %>
  </div>
  <div class='item'>
    <%= link_to t('nav.import'), new_imports_path %>
  </div>

</nav>
