<h1><%= t('.title').capitalize %></h1>

<table class='table table-sm'>
  <thead>
    <tr>
      <th scope='col'>Crypto</th>
      <th scope='col' data-bs-toggle="tooltip" data-bs-placement="top" title="<%= @main_currency.upcase %>"><%= t('.market_price')%></th>
      <th scope='col' data-bs-toggle="tooltip" data-bs-placement="top" title="<%= @main_currency.upcase %>"><%= t('.ref_price') %></th>
      <th scope='col'>Masquer</th>
      <th scope='col'></th>
    </tr>
  </thead>
  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.display_name %> </td>
        <td><%= coin.market_value(@main_currency) %> </td>
        <%= render 'reference_price_td', coin: coin %>
        <td>
          <% if coin.hide %>
            <i class="fas fa-check"></i>
          <% end %>
        </td>
        <td class='text-end'>
          <%= icon_link_to('Trades', "fas fa-exchange-alt", coin_trades_path(coin)) %>
          <%= icon_link_to('Modifier', "far fa-edit",  edit_coin_path(coin)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_coin'), new_coin_path, class: 'btn btn-info' %>